.budget-form {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
  margin-left: 100px;
}
.budget-form input{
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 125px;
}
.budget-select{
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 135px;
}
.page-container { 
  padding: 30px;
}
.page-container h2 {
  font-size: 30px;
  font-weight: 600;
  font-style:italic;
  text-align: center;
  margin-bottom: 70px;
  text-decoration: overline;
}
.card-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
  margin-left: 100px;
}
.card-grid-b {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
  margin-left: 100px;
}
.card {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 200px;
}
.card-actions {
  margin-top: 16px;
  display: flex;
  gap: 10px;
}
.btn {
  padding: 10px 16px;
  background: #33cccc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}
.add-btn {
  padding: 10px 20px;
  background: #33cccc;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 100px;
}
.add-btn:hover {
  background-color: #1e7b7b;
  color: white;
}
.btn:hover {
  background-color: #adebeb;
  color: #000;
}
.btn-delete {
  background: #ff3333;
}
.btn-delete:hover {
  background: #c82333;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-edit {
  width: 85%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-edit1 {
  width: 91%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-trans {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 70%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-b {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 70%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-select {
  width: 86%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.analytics-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-btn {
  padding: 8px 16px;
  background: rgb(128, 179, 255);
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}
.modal-btn:hover {
  background-color: rgb(26, 117, 255);
  color: white;
}





@media screen and (min-width: 750px) and (max-width:950px) {
.budget-form {
  display: flex;
  gap: 17px;
  margin-bottom: 18px;
  margin-left: 90px;
}
.budget-form input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 115px;
}
.budget-select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 125px;
}
.page-container { 
  padding: 28px;
}
.page-container h2 {
  font-size: 28px;
  font-weight: 600;
  font-style:italic;
  text-align: center;
  margin-bottom: 70px;
  text-decoration: overline;
}
.card-grid {
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 25px;
  margin-left: 15px;
}
.card-grid-b {
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 25px;
  margin-left: 80px;
}
.card {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 180px;
}
.card-actions {
  margin-top: 16px;
  display: flex;
  gap: 9px;
}
.btn {
  padding: 9px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}
.add-btn {
  padding: 9px 18px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 80px;
}
.modal {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-edit {
  width: 85%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-edit1 {
  width: 91%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-trans {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 67%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-b {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 67%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-select {
  width: 89%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
}

@media screen and (min-width: 650px) and (max-width:749px) {
.budget-form {
  display: flex;
  gap: 16px;
  margin-bottom: 18px;
  margin-left: 80px;
}
.budget-form input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 105px;
}
.budget-select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 115px;
}
.page-container { 
  padding: 26px;
}
.page-container h2 {
  font-size: 25px;
  font-weight: 600;
  font-style:italic;
  text-align: center;
  margin-bottom: 70px;
  text-decoration: overline;
}
.card-grid {
  display: grid;
  gap: 13px;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  margin-left: 80px;
}
.card-grid-b {
  display: grid;
  gap: 13px;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  margin-left: 80px;
}
.card {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 170px;
}
.card-actions {
  margin-top: 16px;
  display: flex;
  gap: 9px;
}
.btn {
  padding: 9px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}
.add-btn {
  padding: 8px 16px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 70px;
}
.modal {
  background: white;
  padding: 28px;
  border-radius: 8px;
  max-width: 370px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-edit {
  width: 85%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-edit1 {
  width: 92%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-trans {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 65%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-b {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 64%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-select {
  width: 89%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
}

@media screen and (min-width: 550px) and (max-width:649px) {
.budget-form {
  display: flex;
  gap: 15px;
  margin-bottom: 18px;
  margin-left: 45px;
}
.budget-form input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 65px;
  font-size: 12px;
}
.budget-select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80px;
  font-size: 12px;
}
.page-container { 
  padding: 26px;
}
.page-container h2 {
  font-size: 23px;
  font-weight: 600;
  font-style:italic;
  text-align: center;
  margin-bottom: 70px;
  text-decoration: overline;
}
.card-grid {
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  margin-left: 50px;
}
.card-grid-b {
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  margin-left: 50px;
}
.card {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 155px;
}
.card-actions {
  margin-top: 16px;
  display: flex;
  gap: 9px;
}
.btn {
  padding: 8px 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 11px;
}
.add-btn {
  padding: 7px 14px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 70px;
}
.modal {
  background: white;
  padding: 28px;
  border-radius: 8px;
  max-width: 370px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-edit {
  width: 85%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-edit1 {
  width: 92%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-trans {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 62%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-b {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 62%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-select {
  width: 89%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
}

@media screen and (min-width: 450px) and (max-width:549px) {
.budget-form {
  display: flex;
  gap: 14px;
  margin-bottom: 18px;
  margin-left: 35px;
}
.budget-form input{
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 45px;
  font-size: 11px;
}
.budget-select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70px;
  font-size: 11px;
}
.page-container { 
  padding: 24px;
}
.page-container h2 {
  font-size: 20px;
  font-weight: 600;
  font-style:italic;
  text-align: center;
  margin-bottom: 70px;
  text-decoration: overline;
}
.card-grid {
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr;
  margin-top: 15px;
  margin-left: 55px;
}
.card-grid-b {
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr;
  margin-top: 15px;
  margin-left: 55px;
}
.card {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 250px;
  margin-bottom: 20px;
}
.card-actions {
  margin-top: 16px;
  display: flex;
  gap: 9px;
}
.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 10px;
}
.add-btn {
  padding: 7px 14px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 70px;
}
.modal {
  background: white;
  padding: 28px;
  border-radius: 8px;
  max-width: 370px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-edit {
  width: 85%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-edit1 {
  width: 92%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-trans {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 59%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-b {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 59%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-select {
  width: 89%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.analytics-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}
.modal-btn {
  padding: 6px 14px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 11px;
}
}

@media screen and (min-width: 390px) and (max-width:449px) {
.budget-form {
  display: flex;
  gap: 14px;
  margin-bottom: 18px;
  margin-left: 15px;
}
.budget-form input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 55px;
  font-size: 10px;
}
.budget-select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 75px;
  font-size: 10px;
}
.page-container { 
  padding: 24px;
}
.page-container h2 {
  font-size: 20px;
  font-weight: 600;
  font-style:italic;
  text-align: center;
  margin-bottom: 70px;
  text-decoration: overline;
}
.card-grid {
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr;
  margin-top: 15px;
  margin-left: 40px;
}
.card-grid-b {
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr;
  margin-top: 15px;
  margin-left: 40px;
}
.card {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 230px;
  margin-bottom: 20px;
}
.card-actions {
  margin-top: 16px;
  display: flex;
  gap: 9px;
}
.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 9px;
}
.add-btn {
  padding: 6px 14px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 70px;
  font-size: 10px;
}
.modal {
  background: white;
  padding: 25px;
  border-radius: 8px;
  max-width: 280px;
  width: 75%;
  margin-right: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-edit {
  width: 85%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-edit1 {
  width: 96%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-trans {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 57%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-b {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 56%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-select {
  width: 8%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.analytics-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 11px;
}
.modal-btn {
  padding: 6px 13px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 10px;
}
}

@media screen and (min-width: 350px) and (max-width:389px) {
.budget-form {
  display: flex;
  gap: 14px;
  margin-bottom: 18px;
  margin-left: 15px;
}
.budget-form input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 55px;
  font-size: 10px;
}
.budget-select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 75px;
  font-size: 10px;
}
.page-container { 
  padding: 24px;
}
.page-container h2 {
  font-size: 20px;
  font-weight: 600;
  font-style:italic;
  text-align: center;
  margin-bottom: 70px;
  text-decoration: overline;
}
.card-grid {
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr;
  margin-top: 15px;
  margin-left: 20px;
}
.card-grid-b {
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr;
  margin-top: 15px;
  margin-left: 20px;
}
.card {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 220px;
  margin-bottom: 20px;
}
.card-actions {
  margin-top: 16px;
  display: flex;
  gap: 9px;
}
.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 9px;
}
.add-btn {
  padding: 6px 14px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 70px;
  font-size: 10px;
}
.modal {
  background: white;
  padding: 25px;
  border-radius: 8px;
  max-width: 280px;
  width: 75%;
  margin-right: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-edit {
  width: 85%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-edit1 {
  width: 96%;
  padding: 10px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-trans {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 57%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-b {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 380px;
  width: 56%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-select {
  width: 8%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.modal-actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.analytics-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 11px;
}
.modal-btn {
  padding: 6px 13px;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 10px;
}
}